----
# MyCaptain - Data Analytics with Python - Practice Exercise 1
----

# Agenda

- Exploratory Data Analysis
- Data Preprocessing

## Exploratory Data Analysis

- Exploratory data analysis is an approach of analyzing data sets to summarize their main characteristics, often using statistical graphics and other data visualization methods.
- It is a good practice to understand the data first and try to gather as many insights from it. EDA is all about making sense of data

## Data Preprocessing

-  Data Preprocessing focuses on processing the data and making it suitable for the model.

- Before building any machine learning model it is crucial to perform data preprocessing to feed the correct data to the model to learn and predict. Model performance depends on the quality of data feeded to the model to train.

- It involves various steps like 
  - Handling duplicates
  - Handling missing values
  - Handling outliers
  - Handling garbage data, incorrect or invalid data 
  - Changing data types 
  - Converting features into numerical data type
  - Standardising and normalising the data
  - Making transformations of variables as needed - log tranformation, power transformation etc 

- These are some of the common steps. But most of these data preprocessing steps depend on case to case basis.

## Table of Content

1. About dataset

2. Import necessary libraries

3. Load the dataset

4. Explore the data.

5. Data Pre-processing

  - 5.1 Identifying and removing Duplicates from your data
  
  - 5.2 Removing unwanted characters and changing datatypes
  
  - 5.3 Identifying and imputing missing values
    - Ways of detecting missing values & Standard and non-standard missing values
    - Basic imputation methods for replacing missing values

  - 5.4 Outlier detection & Imputation- visually, and statistically

<a id="ad"> </a>
## 1. About dataset

- Amazon.com, Inc. is an American multinational conglomerate that focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence. It is one of the Big Five companies in the U.S. information technology industry, along with Google, Apple, Microsoft, and Facebook.


- Amazon Top Rated Smartphones & Accessories 2021 Dataset was scraped from amazon.in website of the e-commerce amazon India. the dataset contains smartphones title with its specification according to its rating and number of review count in the dataset column. there is a piece of additional information about the smartphone. that is its offer price and actual price with its discount percentage and delivery options


- Amazon Top Rated Smartphones & Accessories 2021 dataset is scraped from the e-commerce website.

<a id="inl"> </a>
## 2. Import the necessary libraries.

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn #for ML algorithms
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from sklearn.impute import KNNImputer

<a id="ld"> </a>
## 3. Load the dataset.

In [2]:
# Amazon_data.csv
amazon_data = pd.read_csv('Amazon_data.csv')
amazon_data.head()

,Smartphone,Rating,Reviews count,Offer price,Actual price,Saving,Delivery,Status of stock & more offers
0,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2....",4.2 out of 5 stars,"87,809","₹9,499","₹10,999","Save ₹1,500 (14%)",FREE Delivery by Amazon,NaN
1,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...",4.2 out of 5 stars,"74,587","₹6,999","₹8,499","Save ₹1,500 (18%)",FREE Delivery by Amazon,NaN
2,Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GH...,4.2 out of 5 stars,"74,587","₹6,999","₹8,499","Save ₹1,500 (18%)",FREE Delivery by Amazon,NaN
3,"Redmi Note 10 (Aqua Green, 4GB RAM, 64GB Stora...",4.2 out of 5 stars,"95,519","₹13,999","₹15,999","Save ₹2,000 (13%)",FREE Delivery by Amazon,NaN
4,"Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) ...",4.2 out of 5 stars,"87,809","₹9,499","₹10,999","Save ₹1,500 (14%)",FREE Delivery by Amazon,NaN

## 4. Explore the data.

In [3]:
# check info, shape, columns, datatypes and more....and write your inferences.

In [4]:
amazon_data.shape

(1367, 8)

In [5]:
amazon_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1367 entries, 0 to 1366
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Smartphone                     1367 non-null   object
 1   Rating                         1367 non-null   object
 2   Reviews count                  1367 non-null   object
 3   Offer price                    1153 non-null   object
 4   Actual price                   1041 non-null   object
 5   Saving                         1150 non-null   object
 6   Delivery                       1367 non-null   object
 7   Status of stock & more offers  498 non-null    object
dtypes: object(8)
memory usage: 85.6+ KB

In [6]:
amazon_data.columns

Index(['Smartphone', 'Rating', 'Reviews count', 'Offer price', 'Actual price',
       'Saving', 'Delivery', 'Status of stock & more offers'],
      dtype='object')

In [7]:
amazon_data.nunique()

Smartphone                       1307
Rating                             11
Reviews count                     363
Offer price                       510
Actual price                      281
Saving                            611
Delivery                            3
Status of stock & more offers      17
dtype: int64

<a id="dp"> </a>
## 5. Data Pre-processing

<a id="fdd"> </a>
### 5.1 Find and drop duplicate values.

###### Lets check for the duplicate rows in the data and drop those.

In [8]:
##Identify duplicates records in the data
len(amazon_data[amazon_data.duplicated])

56

In [9]:
#Removing Duplicates
amazon_data.drop_duplicates(keep='first',inplace=True)

In [10]:
## Check for duplicate values again
len(amazon_data[amazon_data.duplicated])

0

<a id="ru"> </a>
### 5.2 Removing unwanted characters and changing the datatype

In [11]:
amazon_data.head()

,Smartphone,Rating,Reviews count,Offer price,Actual price,Saving,Delivery,Status of stock & more offers
0,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2....",4.2 out of 5 stars,"87,809","₹9,499","₹10,999","Save ₹1,500 (14%)",FREE Delivery by Amazon,NaN
1,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...",4.2 out of 5 stars,"74,587","₹6,999","₹8,499","Save ₹1,500 (18%)",FREE Delivery by Amazon,NaN
2,Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GH...,4.2 out of 5 stars,"74,587","₹6,999","₹8,499","Save ₹1,500 (18%)",FREE Delivery by Amazon,NaN
3,"Redmi Note 10 (Aqua Green, 4GB RAM, 64GB Stora...",4.2 out of 5 stars,"95,519","₹13,999","₹15,999","Save ₹2,000 (13%)",FREE Delivery by Amazon,NaN
4,"Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) ...",4.2 out of 5 stars,"87,809","₹9,499","₹10,999","Save ₹1,500 (14%)",FREE Delivery by Amazon,NaN

Observations for removing unwanted characters and changes in the dataset to prepare it for analysis:
1. Rating column can be made numeric (float) by extracting the rating value from it
2. Reviews count can be made numeric by removing commas from the values
3. Offer Price and Actual Price columns can be made numeric by removing commas and rupees sign from the values
4. We can extract saving value or percentage from the Saving column and make it numeric

#### 5.2.1 Let's handle Rating column

In [12]:
#SPLITING THE NUMERIC RATING VALUES IN FLOATS
amazon_data['Rating'] = amazon_data['Rating'].str.split(' ').str.get(0).astype(float)

In [13]:
amazon_data.head()

,Smartphone,Rating,Reviews count,Offer price,Actual price,Saving,Delivery,Status of stock & more offers
0,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2....",4.2,"87,809","₹9,499","₹10,999","Save ₹1,500 (14%)",FREE Delivery by Amazon,NaN
1,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...",4.2,"74,587","₹6,999","₹8,499","Save ₹1,500 (18%)",FREE Delivery by Amazon,NaN
2,Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GH...,4.2,"74,587","₹6,999","₹8,499","Save ₹1,500 (18%)",FREE Delivery by Amazon,NaN
3,"Redmi Note 10 (Aqua Green, 4GB RAM, 64GB Stora...",4.2,"95,519","₹13,999","₹15,999","Save ₹2,000 (13%)",FREE Delivery by Amazon,NaN
4,"Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) ...",4.2,"87,809","₹9,499","₹10,999","Save ₹1,500 (14%)",FREE Delivery by Amazon,NaN

#### 5.2.2 Let's handle Reviews count column

In [14]:
#converting reviews count in integers
amazon_data['Reviews count'] = amazon_data['Reviews count'].str.replace(',', '').astype(int)

In [15]:
amazon_data.head(2)

,Smartphone,Rating,Reviews count,Offer price,Actual price,Saving,Delivery,Status of stock & more offers
0,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2....",4.2,87809,"₹9,499","₹10,999","Save ₹1,500 (14%)",FREE Delivery by Amazon,NaN
1,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...",4.2,74587,"₹6,999","₹8,499","Save ₹1,500 (18%)",FREE Delivery by Amazon,NaN

#### 5.2.3 Let's deal with Price columns

In [16]:
#converting Price columns in integers
#Offer price
#removing comma
amazon_data['Offer price'] = amazon_data['Offer price'].str.replace(',', '')
#removing ₹
amazon_data['Offer price'] = amazon_data['Offer price'].str.replace('₹','')
#removing .
amazon_data['Offer price'] = amazon_data['Offer price'].str.replace('.','')
#Actual price
#removing comma
amazon_data['Actual price'] = amazon_data['Actual price'].str.replace(',', '')
#removing ₹
amazon_data['Actual price'] = amazon_data['Actual price'].str.replace('₹','')
#removing .
amazon_data['Actual price'] = amazon_data['Actual price'].str.replace('.','')

In [17]:
#converting data type to numeric type
#as null values exists, the default type of nan values is float
#only converting non-null values to integer
#convert null values later after imputing null values
amazon_data.loc[amazon_data['Offer price'].notnull(),'Offer price'] = amazon_data.loc[amazon_data['Offer price'].notnull(),'Offer price'].apply(int)
amazon_data.loc[amazon_data['Actual price'].notnull(),'Actual price'] = amazon_data.loc[amazon_data['Actual price'].notnull(),'Actual price'].apply(int)

In [18]:
amazon_data.head()

,Smartphone,Rating,Reviews count,Offer price,Actual price,Saving,Delivery,Status of stock & more offers
0,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2....",4.2,87809,9499,10999,"Save ₹1,500 (14%)",FREE Delivery by Amazon,NaN
1,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...",4.2,74587,6999,8499,"Save ₹1,500 (18%)",FREE Delivery by Amazon,NaN
2,Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GH...,4.2,74587,6999,8499,"Save ₹1,500 (18%)",FREE Delivery by Amazon,NaN
3,"Redmi Note 10 (Aqua Green, 4GB RAM, 64GB Stora...",4.2,95519,13999,15999,"Save ₹2,000 (13%)",FREE Delivery by Amazon,NaN
4,"Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) ...",4.2,87809,9499,10999,"Save ₹1,500 (14%)",FREE Delivery by Amazon,NaN

#### 5.2.4 Let's handle Saving feature

In [19]:
#spliting to get actual amount
amazon_data['Saving'] = amazon_data['Saving'].str.split(' ').str.get(1)
#removing comma,.,₹
amazon_data['Saving'] = amazon_data['Saving'].str.replace(',', '')
amazon_data['Saving'] = amazon_data['Saving'].str.replace('₹','')
amazon_data['Saving'] = amazon_data['Saving'].str.replace('.','')

In [20]:
#removing garbage values and replacing with nan so that they can be dealt with later
amazon_data['Saving'] = amazon_data['Saving'].replace(['it','Delivery'],np.nan)

In [21]:
amazon_data.loc[amazon_data['Saving'].notnull(),'Saving'] = amazon_data.loc[amazon_data['Saving'].notnull(),'Saving'].apply(int)

In [22]:
amazon_data.head()

,Smartphone,Rating,Reviews count,Offer price,Actual price,Saving,Delivery,Status of stock & more offers
0,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2....",4.2,87809,9499,10999,1500,FREE Delivery by Amazon,NaN
1,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...",4.2,74587,6999,8499,1500,FREE Delivery by Amazon,NaN
2,Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GH...,4.2,74587,6999,8499,1500,FREE Delivery by Amazon,NaN
3,"Redmi Note 10 (Aqua Green, 4GB RAM, 64GB Stora...",4.2,95519,13999,15999,2000,FREE Delivery by Amazon,NaN
4,"Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) ...",4.2,87809,9499,10999,1500,FREE Delivery by Amazon,NaN

### 5.3 Dealing with missing values.

In [23]:
#checking for total number of null values
amazon_data.isnull().sum()

Smartphone                         0
Rating                             0
Reviews count                      0
Offer price                      206
Actual price                     313
Saving                           313
Delivery                           0
Status of stock & more offers    838
dtype: int64

In [24]:
#percentage of null values
#typically delete column with more than 40% of null values 
#because null values are usually replaced with avgs(mean median or mode)
(amazon_data.isnull().sum()/len(amazon_data))*100

Smartphone                        0.000000
Rating                            0.000000
Reviews count                     0.000000
Offer price                      15.713196
Actual price                     23.874905
Saving                           23.874905
Delivery                          0.000000
Status of stock & more offers    63.920671
dtype: float64

1. We have null values in both numeric and categorical features
2. For offer price, actual price, savings, we will check distribution of data and treat the values accordingly.
3. For categorical features use mode imputation technique
4. Status of stock & more offers has more than 40% of null values therefore better to drop the feature all together

#### 5.3.1 Standard and Non standard Null values
-  What isnull() function recognises as missing value

In [25]:
pd.DataFrame({'value':amazon_data['Offer price'],'Missing':amazon_data['Offer price'].isnull()}).head(10)

   value  Missing
0   9499    False
1   6999    False
2   6999    False
3  13999    False
4   9499    False
5  11499    False
6   6999    False
7    NaN     True
8  24999    False
9  10499    False

only Nan is considered a missing value by isnull() function

#### 5.3.2 Dropping features having more than 45% null values

In [26]:
amazon_data.drop(['Status of stock & more offers'],axis=1,inplace=True)

In [27]:
amazon_data.columns

Index(['Smartphone', 'Rating', 'Reviews count', 'Offer price', 'Actual price',
       'Saving', 'Delivery'],
      dtype='object')

#### 5.3.3 Let's analyse price columns

---------------------------------------------------------------------------------------------

### 5.4 Dealing with Outliers
Outliers are extreme values that tend to influce the data distribution significantly without adding much information.
- Sometimes they might be valid values
- Handling outliers becomes very crucial to build a good model

#### 5.4.1 Identify outliers with visualization tools

In [28]:
# Make use of the Boxplot

#### 5.4.2 Let's check the skewness

#### 5.4.3 Handling outliers
There are various ways we can deal with outliers.
- We can try transformations using log method, Z-score transformation
- We can try capping using IQR method
- We can impute the data using an appropriate value

#### 5.4.4 Using log transformation

- For feature *'Reviews count'*, lets apply Log transformation technique in order to reduce the skewness.

- For feature *'Offer price'*, lets apply Log transformation technique in order to reduce the skewness.

- For feature *'Actual price'*, lets apply Log transformation technique in order to reduce the skewness.

- For feature *'Saving'*, lets apply Log transformation technique in order to reduce the skewness.

#### 5.4.5 Using IQR Method

#### 5.4.6 Using Capping Technique.

# Keep Learning :)